$whiteP: #fff;
$blackP: #000000;
$grayP: #4f4f4f;
$blueP: #233d4d;
$orangeP: #fe7f2d;
$yellowP: #fcca46;
$greenP: #619b8a;
$lightGrennP: #a1c181;

// ------------

$blueP1: #122633;
$orangeP1: #e56512;
$yellowP1: #e3b029;
$greenP1: #458270;
$lightGrennP1: #84a860;

// ------------

$blueP-1: #385566;
$orangeP-1: #f39754;
$yellowP-1: #fcd160;
$greenP-1: #629c8b;
$lightGrennP-1: #c2dba9;