header {
    width: 100%;
    height: 120px;
    background-color: $blueP;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;

}

img {
    width: 324px;
    height: 78px;
}

#menu {
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#menu li {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    transition: all .3s;
}

#menu li:hover {
    cursor: pointer;
    color: $orangeP-1;
}



#btnDonate {
    width: 180px;
    height: 60px;
    border-radius: 16px;
    background-color: $orangeP;
    color: $whiteP;
    font-size: 24px;
    font-weight: bold;
    border: none;
    transition: all .3s;
}


#btnDonate:hover {
    background-color: $orangeP-1;
    transform: scale(1.1);
}

.selected {
    position: relative;
}

.selected::after {
    content: ' ';
    width: 100%;
    height: 6px;
    background-color: $orangeP;
    position: absolute;
    left: 0;
    bottom: -42px;
}

.listed-menu {
    display: none;
}

.responsive-menu {
    display: none;
}

.close-menu {
    display: none;
}

.content-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.icon-user {
    width: 24px;
    height: 24px;
}

.arrow-user {
    width: 30px;
    height: 30px;
}


@media only screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    #menu {
        display: none;
    }

    #image-logo img {
        width: 187px;
        height: 44px;

    }

    nav img {
        width: 45px;
        height: 40px;
        display: block;
    }

    .responsive-menu {
        display: flex;
        width: 95%;
        position: absolute;
        height: 240px;
        background-color: $blueP-1;
        left: 10px;
        top: 17.5%;
        z-index: 5;
        border-radius: 16px;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
        display: none;
    }

    .list-menu {
        width: 100%;
        list-style: none;
        color: $whiteP;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20)
    }

    .nav-item span {
        align-self: flex-start;

    }

    .nav-item h4 {
        display: flex;
        align-items: center;
    }

    .listed-menu {
        display: block;
    }

    .list-btn {
        display: flex;
        justify-content: center;

    }

    #btnDonate {
        font-size: 20px;
        height: 38px;
        width: 227px;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20)
    }

    .selected-response {
        background-color: $blueP;
        border-radius: 12px;
    }

    .selected::after {
        display: none;
    }

    .content-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }

    .content-user {
        position: absolute;
        border: 1px solid red;
        gap: 3px;
        top: 62.1%;
        left: 50px;
    }

}