header{
    width: 100%;
    height: 120px;
    background-color: $blueP;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
    padding: 30px;
}

img{
    width: 324px;
    height: 78px;
}

nav ul{

    display: flex;
    gap: 40px;
    border: 1px solid red;
    
}

nav{
    border: 1px solid red;
    
}


#menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#menu a{
    color: white;
    text-decoration: none;
    
}

