.loginCard{
    width: 100%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#divCardLogin{
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#enter{
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: bold;
    color: $whiteP;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);;
    
}

#divCardLogin input{
    font-size: 16px;
    padding: 10px;
    width: 350px;
    height: 42px;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    outline: none;

}

label{
    font-size: 18px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);;
    color: $whiteP;
    

}

#btnEnter{
    margin-top: 20px;
    color: $whiteP;
    background-color: $yellowP;
    width: 350px;
    height: 44px;
    border: none;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#btnEnter:hover{
    cursor: pointer;
    background-color: $yellowP1;
}

#register{
    color: $whiteP;
    margin-top: 10px;
    font-size: 18px;
    margin-left: 8px;
}

#register a{
    color: $greenP1;
}


#user-empty{
    color: rgb(172, 12, 12);
    display: none;
    font-weight: bold;
}


#pass-empty{
    color: rgb(172, 12, 12);
    display: none;
    font-weight: bold;
}



@media screen and (max-width: 600px) {
 .divCardLogin{
    width: 100%;
 }
}