#closeModal{
    width: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#modal {
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 25%;
    height: 600px;
    transform: translate(-50%, -50%);
    padding: 60px 50px 91px;
    background-color: $blueP-1;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    border: none;
    
}


#modal::backdrop{
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(2.5px);

}

.modalContent {
    flex-direction: column;
    display: flex;
    position: relative;
    height: 100%;
    justify-content: center;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

.modalContent h1 {
    color: $whiteP;
    text-align: center;
    font-weight: bold;
    
}

.contentSingUp {
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentSingUp button{
    margin-top: 20px;
    background-color: $yellowP;
    color: $whiteP;
    font-size: 21px;
    font-weight: bold;
    border-radius: 16px;

}

.contentSingUp button:hover{
    background-color: $yellowP1;
    cursor: pointer;
}

.contentSingUp input, button{
    outline: none;
    border-radius: 8px;
    padding: 10px;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}


#test{
    display: none;
    color: green;
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    font-weight: bold;
}



@media screen and (max-width: 600px) {
    #modal{
        width: 100%;
    }

    #closeModal{
        top: 10px;
        right: 15px;
    }
}