#user-content {
    width: 100%;
    display: flex;
    padding: 30px;
}

#content-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contentArea-edit {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contentArea-edit label {
    font-size: 24px;
}

#contentArea-edit input {
    width: 100%;
    padding: 2%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);   
}



#contentArea-edit button {
    width: 100%;
    padding: 2%;
    font-size: 24px;
    font-weight: 800;
    color: $whiteP;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20); 
    background-color: $orangeP;  
}

#contentArea-edit button:hover {
    cursor: pointer;
    background-color: $orangeP1;  
}

article #user-menu ul {
    list-style: none;
}

.edit-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#user-menu {
    margin-top: 80px;
    width: 100%;
    background-color: $blueP-1;
    color: $whiteP;
    padding: 10px;
    border-radius: 15px;
}

#user-menu ul li {
    font-size: 23px;
    font-weight: 800;
    padding: 10px 10px 10px 40px;
    background: url(../assets/caret-right.svg) no-repeat left center;
    background-size: 20px;
    background-position: 10px;
    border-radius: 16px;
}

#user-menu ul li:hover {
   background: $blueP1 url(../assets/caret-right.svg) no-repeat left center;
   background-size: 20px;
   background-position: 10px;
}

article {
    width: 30%;
}

aside {
    padding: 50px;
    width: 70%;
}

// EDITAR ANIMAIS

#animalEdit-section {
    padding: 2% 5%;
}

#all-inputs-animalEdit {
    width: 100%;
}

#title-animalEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#upload-image {
    display: none;
    width: 120px;
    height: 120px;
    background-color: white;
    padding: 5px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}
#fileImgLabel{
    color: $grayP;
}

.inputs-animalEdit,
#radio-animalEdit {
    width: 40%;
}

#radio-animalEdit {
    display: flex;
    gap: 50px;
}

#radio-animalEdit label {
    color: $whiteP;
    font-size: 24px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#radio-animalEdit input {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px 0;
    background: $whiteP;
    position: relative;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#radio-animalEdit input::before {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $orangeP1;
    opacity: 0;
}

#radio-animalEdit input:checked::before {
    opacity: 1;
}

.inputs-animalEdit input,
.inputs-animalEdit select,
#textare-animalEdit textarea {
    width: 100%;
    padding: 2%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#textare-animalEdit textarea {
    resize: none;
    height: 130px;
}

.content-animalEdit {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#title-animalEdit,
#textare-animalEdit,
#button-animalEdit {
    padding: 20px;
    display: flex;
}


#button-animalEdit {
    display: flex;
    justify-content: center;
}

#button-animalEdit button {
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 16px;
    color: $whiteP;
    font-weight: 800;
    background: $yellowP;
}

#button-animalEdit button:hover {
    cursor: pointer;
    background-color: $yellowP1;
}

input[type="file"] {
    display: none;
}

.inputs-animalEdit #fileImgLabel {
    display: block;
    width: 100%;
    padding: 2%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    background: $whiteP;
}

#animal-cards-register{
    width: 100%;
    height: 65vh;
    padding: 30px;
    background-color: $blueP-1;
    overflow-y: scroll;
    
}

#div-card-register{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 30px;
    flex-wrap: wrap;

}


.card-register{
    border-radius: 16px;
    width: 30%;
    background-color: $whiteP;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    padding: 20px 20px 6px 20px;

}

.animal-name-register{
    width: 100%;
    padding: 5px 0 5px 5px ;
    background-color: $yellowP;
    border-radius: 10px;
    color: $whiteP;

}

.animal-name-register h3{
    font-weight: bold;
    font-size: 20px;
}

.animal-content-register{
    display: flex;
    padding: 5px 4px 4px 0;
    justify-content: space-between;
}



.animal-content-register h3 {
    font-size: 17px;
}

.edits-animals-register {
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.edit-animal-register{
    width: 50%;
    display: flex;
    justify-content: center;
}


.delete-animal-register {
    width: 50%;
    display: flex;
    justify-content: center;
}
.date-register{
    margin-top: 5%;
    text-align: center;
    color: #777777;
    font-size: 14px;   
}

.inputs-animalEdit #fileImgLabel:hover,
.inputs-animalEdit select:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}




@media only screen and (max-width: 600px) {

    #user-content {
        display: flex;
        flex-direction: column;
    }
    
    #content-edit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    #contentArea-edit {
        width: 100%;
    }
    
    
    article {
        width: 100%;
    }
    
    aside {
        padding: 0;
        margin-top: 40px;
        width: 100%;
    }

    #animalEdit-section {
        padding: 0;
        height: auto;
    }

    #title-animalEdit,
    .content-animalEdit {
        flex-direction: column;
        gap: 40px;
    }

    .inputs-animalEdit,
    #radio-animalEdit {
        width: 100%;
    }

    .content-animalEdit {
        padding: 20px 20px;
    }

    #radio-animalEdit {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
    #radio-animalEdit label {
        font-size: 22px;
    }

    #button-animalEdit button {
       width: 100%;
    }


    
}



