#wannaAdopt-section {
    padding: 5% 6%;
}


#inputs-wannaAdopt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2% 1.5%;
    border-radius: 8px;
    background: $blueP-1;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    gap: 10px;
}



#inputs-wannaAdopt input {
    width: 450px;
    min-width: 200px;
    padding: 3% 3% 3% 9%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    background: url(.././assets/search.svg) no-repeat center left;
    background-color: white;
    background-position: 10px;
    background-size: 20px 20px;
}

#inputs-wannaAdopt select {
    width: 250px;
    padding: 4.5%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#wannaAdopt-cards {
    
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
    gap: 50px 10px;
    flex-wrap: wrap;
}

#notFound {
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 50vh;
}



@media only screen and (max-width: 600px){
    #wannaAdopt-section {
        padding: 0%;
    }

    #inputs-wannaAdopt {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 4%;
        border-radius: 0;
        box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    }

    #inputs-wannaAdopt input {
        width: 100%;
        padding: 3% 3% 3% 11%;
    }
    
    #inputs-wannaAdopt select {
        width: 100%;
        padding: 3%;
    }

    .div-inputs {
        width: 100%;
    }
}