#wannaDonation-section {
    padding: 2% 10%;
}

#all-inputs-wannaDonation {
    width: 100%;
}

#title-wannaDonation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title-wannaDonation h1 {
    color: $whiteP;
    font-size: 37px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20); 
}

#upload-image {
    display: none;
    width: 120px;
    height: 120px;
    background-color: white;
    padding: 5px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}
#fileImgLabel{
    color: $grayP;
}

#errorEmpty {
    color: brown;
    display: none;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #777777;
} 


.inputs-wannaDonation,
#radio-wannaDonation {
    width: 40%;
}

#radio-wannaDonation {
    display: flex;
    gap: 50px;
}

#radio-wannaDonation label {
    color: $whiteP;
    font-size: 24px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#radio-wannaDonation input {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px 0;
    background: $whiteP;
    position: relative;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#radio-wannaDonation input::before {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $orangeP1;
    opacity: 0;
}

#radio-wannaDonation input:checked::before {
    opacity: 1;
}

.inputs-wannaDonation input,
.inputs-wannaDonation select,
#textare-wannaDonation textarea {
    width: 100%;
    padding: 2%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#textare-wannaDonation textarea {
    resize: none;
    height: 130px;
}

.content-wannaDonation {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#title-wannaDonation,
#textare-wannaDonation,
#button-wannaDonation {
    padding: 20px;
    display: flex;
}


#button-wannaDonation {
    display: flex;
    justify-content: center;
}

#button-wannaDonation button {
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    border: none;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 16px;
    color: $whiteP;
    font-weight: 800;
    background: $yellowP;
}

#button-wannaDonation button:hover {
    cursor: pointer;
    background-color: $yellowP1;
}

input[type="file"] {
    display: none;
}

.inputs-wannaDonation #fileImgLabel {
    display: block;
    width: 100%;
    padding: 2%;
    font-size: 18px;
    border-radius: 9px;
    outline: none;
    border: none;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
    background: $whiteP;
}

.inputs-wannaDonation #fileImgLabel:hover,
.inputs-wannaDonation select:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

#modal-sucessfulDonation {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal-content {
    padding: 50px;
    background: $blueP;
    color: white;
    border-radius: 20px;
}

#modal-content h1 {
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
}

#btn-dialog {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#btn-dialog button {
    padding: 10px;
    width: 45%;
    background: $orangeP;
    font-weight: 900;
    color: white;
    font-size: 20px;
}

#btn-dialog button:hover {
    background: $orangeP-1;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    #wannaDonation-section {
        padding: 0;
        height: auto;
    }

    #title-wannaDonation,
    .content-wannaDonation {
        flex-direction: column;
        gap: 40px;
    }

    .inputs-wannaDonation,
    #radio-wannaDonation {
        width: 100%;
    }

    .content-wannaDonation {
        padding: 20px 20px;
    }

    #radio-wannaDonation {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
    #radio-wannaDonation label {
        font-size: 22px;
    }


    
    #modal-content {
        width: 90%;
    }

    #modal-content h1 {
        font-size: 30px;
        text-align: center;
    }
   
    
}