#whyToAdopt-section {
    width: 100%;
    padding: 30px;
}

#whyToAdopt-content {
   display: flex;
   width: 100%;
   background-color: $blueP1;
   border-radius: 25px;
   padding: 40px 30px;
   box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20)
}

#whyToAdopt-content aside, #whyToAdopt-content article{
    width: 50%;
}
#whyToAdopt-content aside{
    border-radius: 25px;
    background: url(../assets/woman.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
}

#whyToAdopt-content article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#whyToAdopt-content article h1 {
    color: $whiteP;
    font-size: 30px;
    font-weight: bold;
}

#whyToAdopt-content article p {
    font-size: 25px;
    font-weight: 900;
    color: $greenP-1;
    text-align: initial;
    width: 90%;
}

.p-color {
    color: $orangeP1;
}

@media only screen and (max-width: 600px) {
    #whyToAdopt-section {
        width: 100%;
        padding: 0;
    }
    
    #whyToAdopt-content {
       display: flex;
       flex-direction: column;
       align-items: center;
       border-radius: 0;
       padding: 40px 20px;
       gap: 20px;
    }
    
    #whyToAdopt-content aside, #whyToAdopt-content article{
        width: 100%;
    }

    #whyToAdopt-content aside{
        border-radius: 25px;
        height: 60vh;
    }
    
}