@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  width: 100%;
  height: 120px;
  background-color: #233d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 30px;
}

img {
  width: 324px;
  height: 78px;
}

nav ul {
  display: flex;
  gap: 40px;
  border: 1px solid red;
}

nav {
  border: 1px solid red;
}

#menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#menu a {
  color: white;
  text-decoration: none;
}

#whyToAdopt-section {
  width: 100%;
  padding: 30px;
}

#whyToAdopt-content {
  display: flex;
  width: 100%;
  background-color: #122633;
  border-radius: 25px;
  padding: 40px 30px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#whyToAdopt-content aside, #whyToAdopt-content article {
  width: 50%;
}

#whyToAdopt-content aside {
  border-radius: 25px;
  background: url(../assets/woman.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
}

#whyToAdopt-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#whyToAdopt-content article h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#whyToAdopt-content article p {
  font-size: 25px;
  font-weight: 900;
  color: #629c8b;
  text-align: initial;
  width: 90%;
}

.p-color {
  color: #e56512;
}

@media only screen and (max-width: 600px) {
  #whyToAdopt-section {
    width: 100%;
    padding: 0;
  }
  #whyToAdopt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    padding: 40px 20px;
    gap: 20px;
  }
  #whyToAdopt-content aside, #whyToAdopt-content article {
    width: 100%;
  }
  #whyToAdopt-content aside {
    border-radius: 25px;
    height: 60vh;
  }
}
#bgHome {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

#bgHome #bg-content {
  background: url(../assets/dog-bg.jpg) no-repeat bottom center;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 100px;
  color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#bg-content h1 {
  color: #fcca46;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
}

#bg-content p {
  display: inline-block;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-size: 1.7em;
  font-weight: 900;
}

@media only screen and (max-width: 850px) {
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    width: 65%;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  #bgHome {
    height: 80vh;
    padding: 20px 0;
  }
  #bgHome #bg-content {
    border-radius: 0;
    padding: 50px 40px;
  }
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    display: inline-block;
    width: 60%;
    font-size: 1.4em;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #619b8a;
}/*# sourceMappingURL=style.css.map */