@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  width: 100%;
  height: 120px;
  background-color: #233d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

img {
  width: 324px;
  height: 78px;
}

#menu {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#menu a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
  position: relative;
}

#menu a:hover {
  color: #f39754;
}

#btnDonate {
  width: 180px;
  height: 60px;
  border-radius: 16px;
  background-color: #fe7f2d;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
}

#btnDonate:hover {
  background-color: #f39754;
  transform: scale(1.1);
}

nav img {
  display: none;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  #menu {
    display: none;
  }
  #image-logo img {
    width: 187px;
    height: 44px;
  }
  nav img {
    width: 45px;
    height: 40px;
    display: block;
  }
}
#animal-cards {
  width: 100%;
  height: 20%;
  padding: 30px;
}

#text-card {
  width: 100%;
  padding: 0 0 75px 0;
}

#text-card h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

#div-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  border-radius: 16px;
  width: 320px;
  height: 380px;
  background-color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.animal-name {
  width: 100%;
  padding: 9px 0 9px 9px;
  background-color: #fcca46;
  border-radius: 10px;
  color: #233d4d;
}

.animal-name h3 {
  font-weight: bold;
}

.animal-content {
  height: 10%;
  display: flex;
  padding: 20px 16px 16px 0;
  justify-content: space-between;
}

.date {
  padding: 16px;
  text-align: center;
  color: #4f4f4f;
}

@media only screen and (max-width: 600px) {
  #div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  #text-card h1 {
    font-size: 30px;
  }
}
#whyToAdopt-section {
  width: 100%;
  padding: 30px;
}

#whyToAdopt-content {
  display: flex;
  width: 100%;
  background-color: #122633;
  border-radius: 25px;
  padding: 40px 30px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#whyToAdopt-content aside, #whyToAdopt-content article {
  width: 50%;
}

#whyToAdopt-content aside {
  border-radius: 25px;
  background: url(../assets/woman.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
}

#whyToAdopt-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#whyToAdopt-content article h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#whyToAdopt-content article p {
  font-size: 25px;
  font-weight: 900;
  color: #629c8b;
  text-align: initial;
  width: 90%;
}

.p-color {
  color: #e56512;
}

@media only screen and (max-width: 600px) {
  #whyToAdopt-section {
    width: 100%;
    padding: 0;
  }
  #whyToAdopt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    padding: 40px 20px;
    gap: 20px;
  }
  #whyToAdopt-content aside, #whyToAdopt-content article {
    width: 100%;
  }
  #whyToAdopt-content aside {
    border-radius: 25px;
    height: 60vh;
  }
}
#bgHome {
  width: 100%;
  height: 80vh;
  padding: 30px;
}

#bgHome #bg-content {
  background: url(../assets/dog-bg.jpg) no-repeat bottom center;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 100px;
  color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#bg-content h1 {
  color: #fcca46;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
}

#bg-content p {
  display: inline-block;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-size: 1.7em;
  font-weight: 900;
}

@media only screen and (max-width: 850px) {
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    width: 65%;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  #bgHome {
    height: 80vh;
    padding: 20px 0;
  }
  #bgHome #bg-content {
    border-radius: 0;
    padding: 50px 40px;
  }
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    display: inline-block;
    width: 60%;
    font-size: 1.4em;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #619b8a;
}/*# sourceMappingURL=style.css.map */