@import "./partials/color";
@import "./partials/header";
<<<<<<< HEAD
@import "./partials/font";
@import "./partials/whyToAdpt";
@import "./partials/footerHomePage";
=======
@import "./partials/animalCards";
@import "./partials/whyToAdopt";
@import "./partials/bgHome";
>>>>>>> main

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100%;
    background-color: $greenP;
}