@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  width: 100%;
  height: 120px;
  background-color: #233d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

#image-logo img {
  width: 324px;
  height: 78px;
}

#image-logo img:hover {
  cursor: pointer;
}

#menu {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#menu li {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
}

#menu li:hover {
  cursor: pointer;
  color: #f39754;
}

#btnDonate {
  width: 180px;
  height: 60px;
  border-radius: 16px;
  background-color: #fe7f2d;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
}

#btnDonate:hover {
  background-color: #f39754;
  transform: scale(1.1);
}

.selected {
  position: relative;
}

.selected::after {
  content: " ";
  width: 100%;
  height: 6px;
  background-color: #fe7f2d;
  position: absolute;
  left: 0;
  bottom: -42px;
}

.content-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.icon-user {
  width: 24px;
  height: 24px;
}

.arrow-user {
  width: 30px;
  height: 30px;
}

.listed-menu {
  display: none;
}

.responsive-menu {
  display: none;
}

.close-menu {
  display: none;
}

@media screen and (min-width: 601px) {
  .listed-menu {
    display: none !important;
  }
  .responsive-menu {
    display: none !important;
  }
  .close-menu {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  #menu {
    display: none;
  }
  #image-logo img {
    width: 187px;
    height: 44px;
  }
  nav img {
    width: 45px;
    height: 40px;
    display: block;
  }
  .responsive-menu {
    display: flex;
    width: 95%;
    position: absolute;
    background-color: #385566;
    left: 10px;
    top: 17.5%;
    z-index: 5;
    border-radius: 16px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .show {
    transition: 0.25s;
    height: 240px;
  }
  .hide {
    transition: 0.25s;
    height: 0;
  }
  .list-menu {
    width: 100%;
    list-style: none;
    color: #fff;
    padding: 0px 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
  }
  .nav-item span {
    align-self: flex-start;
  }
  .nav-item h4 {
    display: flex;
    align-items: center;
  }
  .listed-menu {
    display: block;
  }
  .list-btn {
    display: flex;
    justify-content: center;
  }
  #btnDonate {
    font-size: 20px;
    height: 38px;
    width: 227px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selected-response {
    background-color: #233d4d;
    border-radius: 12px;
  }
  .selected::after {
    display: none;
  }
  .content-user-response {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 7px;
  }
  .icon-user-response {
    width: 20px;
    height: 20px;
  }
}
footer {
  width: 100%;
  height: 168px;
  padding: 50px;
  background-color: #122633;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-footer {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 10px;
}

.footer-content {
  width: 200px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.social-media {
  display: flex;
  margin-top: 12px;
  height: 45px;
}

.logo3 {
  width: 64px;
  height: 78px;
}

.Insta-logo, .Twitter-logo, .Whats-logo {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 600px) {
  .title-footer {
    font-size: 11px;
  }
}
#animal-cards {
  width: 100%;
  height: 20%;
  padding: 30px;
}

#text-card {
  width: 100%;
  padding: 0 0 75px 0;
}

#text-card h1 {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

#div-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  border-radius: 16px;
  width: 320px;
  height: 380px;
  background-color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  padding: 20px;
}

.card:hover {
  cursor: pointer;
  background-color: #c6c6c6;
  transition: all 0.4s;
  transform: scale(1.05);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.animal-name {
  width: 100%;
  padding: 9px 0 9px 9px;
  background-color: #fcca46;
  border-radius: 10px;
  color: #233d4d;
}

.animal-name h3 {
  font-weight: bold;
}

.animal-content {
  height: 10%;
  display: flex;
  padding: 20px 16px 16px 0;
  justify-content: space-between;
}

.date {
  padding: 16px;
  text-align: center;
  color: #4f4f4f;
}

@media only screen and (max-width: 600px) {
  #div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  #text-card h1 {
    font-size: 30px;
  }
}
#whyToAdopt-section {
  width: 100%;
  padding: 30px;
}

#whyToAdopt-content {
  display: flex;
  width: 100%;
  background-color: #122633;
  border-radius: 25px;
  padding: 40px 30px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

#whyToAdopt-content aside, #whyToAdopt-content article {
  width: 50%;
}

#whyToAdopt-content aside {
  border-radius: 25px;
  background: url(../assets/woman.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
}

#whyToAdopt-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#whyToAdopt-content article h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#whyToAdopt-content article p {
  font-size: 25px;
  font-weight: 900;
  color: #629c8b;
  text-align: initial;
  width: 90%;
}

.p-color {
  color: #e56512;
}

@media only screen and (max-width: 600px) {
  #whyToAdopt-section {
    width: 100%;
    padding: 0;
  }
  #whyToAdopt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    padding: 40px 20px;
    gap: 20px;
  }
  #whyToAdopt-content aside, #whyToAdopt-content article {
    width: 100%;
  }
  #whyToAdopt-content aside {
    border-radius: 25px;
    height: 60vh;
  }
}
#bgHome {
  width: 100%;
  height: 80vh;
  padding: 30px;
}

#bgHome #bg-content {
  background: url(../assets/dog-bg.jpg) no-repeat bottom center;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 100px;
  color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#bg-content {
  visibility: hidden;
}

#bg-content h1 {
  color: #fcca46;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
}

#bg-content p {
  display: inline-block;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-size: 1.7em;
  font-weight: 900;
}

@media only screen and (max-width: 850px) {
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    width: 65%;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  #bgHome {
    height: 80vh;
    padding: 20px 0;
  }
  #bgHome #bg-content {
    border-radius: 0;
    padding: 50px 40px;
  }
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    display: inline-block;
    width: 60%;
    font-size: 1.4em;
  }
}
.loginCard {
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#divCardLogin {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#enter {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#divCardLogin input {
  font-size: 16px;
  padding: 10px;
  width: 350px;
  height: 42px;
  border-radius: 8px;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

label {
  font-size: 18px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#btnEnter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #fcca46;
  width: 350px;
  height: 44px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

#btnEnter:hover {
  cursor: pointer;
  background-color: #e3b029;
}

#register {
  transform: scale(1.05);
}

#register {
  justify-content: center;
  display: flex;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 15px;
}

#openRegister {
  color: #c2dba9;
  cursor: pointer;
}

#user-empty, #errorEmail, #errorPass, #enter-password, #erroName, #existingName {
  color: rgb(172, 12, 12);
  display: none;
  font-weight: bold;
}

#pass-empty {
  color: rgb(172, 12, 12);
  display: none;
  font-weight: bold;
}
#pass-empty #openRegister:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #pass-empty .divCardLogin {
    width: 100%;
  }
}

#wannaDonation-section {
  padding: 2% 10%;
}

#all-inputs-wannaDonation {
  width: 100%;
}

#title-wannaDonation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-wannaDonation h1 {
  color: #fff;
  font-size: 37px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#upload-image {
  display: none;
  width: 120px;
  height: 120px;
  background-color: white;
  padding: 5px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#fileImgLabel {
  color: #4f4f4f;
}

.inputs-wannaDonation,
#radio-wannaDonation {
  width: 40%;
}

#radio-wannaDonation {
  display: flex;
  gap: 50px;
}

#radio-wannaDonation label {
  color: #fff;
  font-size: 24px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#radio-wannaDonation input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px 0;
  background: #fff;
  position: relative;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#radio-wannaDonation input::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #e56512;
  opacity: 0;
}

#radio-wannaDonation input:checked::before {
  opacity: 1;
}

.inputs-wannaDonation input,
.inputs-wannaDonation select,
#textare-wannaDonation textarea {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#textare-wannaDonation textarea {
  resize: none;
  height: 130px;
}

.content-wannaDonation {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#title-wannaDonation,
#textare-wannaDonation,
#button-wannaDonation {
  padding: 20px;
  display: flex;
}

#button-wannaDonation {
  display: flex;
  justify-content: center;
}

#button-wannaDonation button {
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  font-weight: 800;
  background: #fcca46;
}

#button-wannaDonation button:hover {
  cursor: pointer;
  background-color: #e3b029;
}

input[type=file] {
  display: none;
}

.inputs-wannaDonation #fileImgLabel {
  display: block;
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.inputs-wannaDonation #fileImgLabel:hover,
.inputs-wannaDonation select:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

#modal-sucessfulDonation {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#modal-content {
  padding: 50px;
  background: #233d4d;
  color: white;
  border-radius: 20px;
}

#modal-content h1 {
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#btn-dialog {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#btn-dialog button {
  padding: 10px;
  width: 45%;
  background: #fe7f2d;
  font-weight: 900;
  color: white;
  font-size: 20px;
}

#btn-dialog button:hover {
  background: #f39754;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #wannaDonation-section {
    padding: 0;
    height: auto;
  }
  #title-wannaDonation,
  .content-wannaDonation {
    flex-direction: column;
    gap: 40px;
  }
  .inputs-wannaDonation,
  #radio-wannaDonation {
    width: 100%;
  }
  .content-wannaDonation {
    padding: 20px 20px;
  }
  #radio-wannaDonation {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  #radio-wannaDonation label {
    font-size: 22px;
  }
  #modal-content {
    width: 90%;
  }
  #modal-content h1 {
    font-size: 30px;
    text-align: center;
  }
}
#contactUs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #233d4d;
  color: #fff;
  gap: 30px;
  padding: 40px;
  visibility: hidden;
}

#contactUs-section h2 {
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

.all-inputs-contactUs {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 70%;
  flex-wrap: wrap;
}

.all-inputs-contactUs input {
  width: 40%;
  padding: 1%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

#div-textarea {
  width: 70%;
}

#div-textarea textarea {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  resize: none;
  height: 180px;
  margin-top: 50px;
}

#contactUs-section button {
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  width: 350px;
  border-radius: 16px;
  color: #fff;
  font-weight: 800;
  background: #fe7f2d;
  margin: 40px 0;
}

#contactUs-section button:hover {
  margin: 40px 0;
  transition: all 0.3s;
}

#contactUs-section button:hover {
  transform: scale(1.05);
  background-color: #f39754;
}

@media only screen and (max-width: 600px) {
  #contactUs-section {
    padding: 40px;
  }
  #contactUs-section h2 {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
  }
  .all-inputs-contactUs {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    gap: 25px;
    width: 100%;
    flex-wrap: unset;
  }
  .all-inputs-contactUs input {
    width: 100%;
    padding: 2%;
  }
  #div-textarea {
    width: 100%;
  }
  #div-btn {
    width: 100%;
  }
  #contactUs-section button {
    width: 100%;
  }
}
/*
.input{
  flex-direction: column;
  flex-wrap: wrap;
  margin: 30px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: $whiteP;
  border-radius: 6px ;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
  padding: 7px 40px;
}

.description{
  margin-bottom: 30px;
  color: $whiteP;
  border-radius: 6px ;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.20);
  padding: 5px;
  margin-top: 50px;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10%;
  padding: 3px 20px;
  background: $orangeP;
  border: 2px solid  $orangeP;
  outline: none;
  border-radius: 6px;
  box-shadow: 10px 10px 100px $blackP;
  font-size: 18px;
  color: $whiteP;
  letter-spacing: 1px;
  font-weight: 200;
  cursor: pointer;
  transition: .3s;
  margin-top: 25px;
}

.button:hover{
  background:  $orangeP;
  box-shadow: none;
  transform: scale(1.2);
}

*/
#wannaAdopt-section {
  padding: 5% 6%;
}

#inputs-wannaAdopt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.2% 1.5%;
  border-radius: 8px;
  background: #385566;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  gap: 10px;
}

#inputs-wannaAdopt input {
  width: 450px;
  min-width: 200px;
  padding: 3% 3% 3% 9%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  background: url(.././assets/search.svg) no-repeat center left;
  background-color: white;
  background-position: 10px;
  background-size: 20px 20px;
}

#inputs-wannaAdopt select {
  width: 250px;
  padding: 4.5%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#wannaAdopt-cards {
  margin: 50px 0;
  display: flex;
  justify-content: space-evenly;
  gap: 50px 10px;
  flex-wrap: wrap;
}

#notFound {
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 50vh;
}

.imgDiv {
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  #wannaAdopt-section {
    padding: 0%;
  }
  #inputs-wannaAdopt {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
    border-radius: 0;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  }
  #inputs-wannaAdopt input {
    width: 100%;
    padding: 3% 3% 3% 11%;
  }
  #inputs-wannaAdopt select {
    width: 100%;
    padding: 3%;
  }
  .div-inputs {
    width: 100%;
  }
}
#infoAnimal-section {
  padding: 1% 7%;
  display: flex;
}

#infoAnimal-section aside, #infoAnimal-section article {
  width: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#animal-name, #animal-img, #post-date {
  width: 100%;
}

#animal-img {
  height: 450px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#post-date h3 {
  text-align: center;
  color: #C6C6C6;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#animal-name h1 {
  background: #fff;
  border-radius: 16px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 1%;
  font-size: 30px;
}

#location-infoAnimal {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#info-content img {
  width: 20px;
  height: 20px;
}

#location-infoAnimal h1, #location-infoAnimal h2 {
  background: #fff;
  padding: 2px 10px;
  border-radius: 20px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#location-infoAnimal h1 {
  font-size: 25px;
  font-weight: 800;
}

#location-infoAnimal h2 {
  padding: 2px 40px;
  color: #385566;
}

#location-infoAnimal, .all-info, #wpp-button {
  width: 100%;
  margin-bottom: 30px;
}

.all-info {
  padding: 5%;
  background: rgba(56, 85, 102, 0.4);
  border-radius: 20px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.all-info img {
  width: 40px;
  height: 40px;
}

.info-infoAnimal {
  display: flex;
  justify-content: space-between;
}

.info-infoAnimal div {
  width: 50%;
}

#wpp-button {
  display: flex;
  justify-content: flex-end;
}

#wpp-button button {
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
  outline: none;
  background: white url(.././assets/logoWhatsapp.png) no-repeat right;
  background-size: 50px;
  font-weight: 900;
}

#wpp-button button:hover {
  background-color: #C6C6C6;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #infoAnimal-section {
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
  }
  #animal-name h1 {
    padding: 4px 15px;
    font-size: 28px;
  }
  #location-infoAnimal {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .info-infoAnimal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .info-infoAnimal div {
    width: 100%;
  }
}
#whoWeAre-section {
  padding: 5% 7%;
}

#whoWeAre-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}

#whoWeAre-content h1, .text-bold {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#whoWeAre-content p {
  font-size: 28px;
}

@media only screen and (max-width: 600px) {
  #whoWeAre-section {
    padding: 5% 7%;
  }
  #whoWeAre-content h1, .text-bold {
    font-size: 22px;
    font-weight: bold;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .text-bold {
    font-size: 22px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    padding-bottom: 20px;
  }
  #whoWeAre-content p {
    font-size: 20px;
  }
}
#user-content {
  width: 100%;
  display: flex;
  padding: 30px;
}

#content-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#contentArea-edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#contentArea-edit label {
  font-size: 24px;
}

#contentArea-edit input {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#contentArea-edit button {
  width: 100%;
  padding: 2%;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #fe7f2d;
}

#contentArea-edit button:hover {
  cursor: pointer;
  background-color: #e56512;
}

article #user-menu ul {
  list-style: none;
}

.edit-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#user-menu {
  margin-top: 80px;
  width: 100%;
  background-color: #385566;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
}

#user-menu ul li {
  font-size: 23px;
  font-weight: 800;
  padding: 10px 10px 10px 40px;
  background: url(../assets/caret-right.svg) no-repeat left center;
  background-size: 20px;
  background-position: 10px;
  border-radius: 16px;
}

#user-menu ul li:hover {
  background: #122633 url(../assets/caret-right.svg) no-repeat left center;
  background-size: 20px;
  background-position: 10px;
}

article {
  width: 30%;
}

aside {
  padding: 50px;
  width: 70%;
}

#animalEdit-section {
  padding: 2% 5%;
}

#all-inputs-animalEdit {
  width: 100%;
}

#title-animalEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#upload-image {
  display: none;
  width: 120px;
  height: 120px;
  background-color: white;
  padding: 5px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#fileImgLabel {
  color: #4f4f4f;
}

.inputs-animalEdit,
#radio-animalEdit {
  width: 40%;
}

#radio-animalEdit {
  display: flex;
  gap: 50px;
}

#radio-animalEdit label {
  color: #fff;
  font-size: 24px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#radio-animalEdit input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px 0;
  background: #fff;
  position: relative;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#radio-animalEdit input::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #e56512;
  opacity: 0;
}

#radio-animalEdit input:checked::before {
  opacity: 1;
}

.inputs-animalEdit input,
.inputs-animalEdit select,
#textare-animalEdit textarea {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#textare-animalEdit textarea {
  resize: none;
  height: 130px;
}

.content-animalEdit {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#title-animalEdit,
#textare-animalEdit,
#button-animalEdit {
  padding: 20px;
  display: flex;
}

#button-animalEdit {
  display: flex;
  justify-content: center;
}

#button-animalEdit button {
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  font-weight: 800;
  background: #fcca46;
}

#button-animalEdit button:hover {
  cursor: pointer;
  background-color: #e3b029;
}

input[type=file] {
  display: none;
}

.inputs-animalEdit #fileImgLabel {
  display: block;
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#animal-cards-register {
  width: 100%;
  height: 65vh;
  padding: 30px;
  background-color: #385566;
  overflow-y: scroll;
}

#div-card-register {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}

.card-register {
  border-radius: 16px;
  width: 30%;
  background-color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 20px 6px 20px;
}

.animal-name-register {
  width: 100%;
  padding: 5px 0 5px 5px;
  background-color: #fcca46;
  border-radius: 10px;
  color: #fff;
}

.animal-name-register h3 {
  font-weight: bold;
  font-size: 20px;
}

.animal-content-register {
  display: flex;
  padding: 5px 4px 4px 0;
  justify-content: space-between;
}

.animal-content-register h3 {
  font-size: 17px;
}

.edits-animals-register {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.edit-animal-register {
  width: 50%;
  display: flex;
  justify-content: center;
}

.delete-animal-register {
  width: 50%;
  display: flex;
  justify-content: center;
}

.date-register {
  margin-top: 5%;
  text-align: center;
  color: #777777;
  font-size: 14px;
}

.inputs-animalEdit #fileImgLabel:hover,
.inputs-animalEdit select:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

#errorEmpty {
  color: brown;
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  background-color: #777777;
}

@media only screen and (max-width: 600px) {
  #user-content {
    display: flex;
    flex-direction: column;
  }
  #content-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #contentArea-edit {
    width: 100%;
  }
  #user-menu {
    margin-top: 0;
  }
  article {
    width: 100%;
  }
  aside {
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  #animalEdit-section {
    padding: 0;
    height: auto;
  }
  #title-animalEdit,
  .content-animalEdit {
    flex-direction: column;
    gap: 40px;
  }
  .inputs-animalEdit,
  #radio-animalEdit {
    width: 100%;
  }
  .content-animalEdit {
    padding: 20px 20px;
  }
  #radio-animalEdit {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  #radio-animalEdit label {
    font-size: 22px;
  }
  #button-animalEdit button {
    width: 100%;
  }
  #div-card-register {
    flex-direction: column;
  }
  .card-register {
    width: 100%;
  }
}
#closeModal {
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#modal {
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  height: 600px;
  transform: translate(-50%, -50%);
  padding: 60px 50px 91px;
  background-color: #385566;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.466);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
}

.modalContent {
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

.modalContent h1 {
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.contentSingUp {
  gap: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentSingUp button {
  margin-top: 20px;
  background-color: #fcca46;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  border-radius: 16px;
}

.contentSingUp button:hover {
  background-color: #e3b029;
  cursor: pointer;
}

.contentSingUp input, button {
  outline: none;
  border-radius: 8px;
  padding: 10px;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#test {
  display: none;
  color: green;
  font-size: 30px;
  position: absolute;
  top: 40%;
  left: 20%;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #modal {
    width: 100%;
  }
  #closeModal {
    top: 10px;
    right: 15px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #458270;
}/*# sourceMappingURL=style.css.map */