@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  width: 100%;
  height: 120px;
  background-color: #233d4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

#image-logo img {
  width: 324px;
  height: 78px;
}

#image-logo img:hover {
  cursor: pointer;
}

#menu {
  gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

#menu li {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s;
}

#menu li:hover {
  cursor: pointer;
  color: #f39754;
}

#btnDonate {
  width: 180px;
  height: 60px;
  border-radius: 16px;
  background-color: #fe7f2d;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
}

#btnDonate:hover {
  background-color: #f39754;
  transform: scale(1.1);
}

.selected {
  position: relative;
}

.selected::after {
  content: " ";
  width: 100%;
  height: 6px;
  background-color: #fe7f2d;
  position: absolute;
  left: 0;
  bottom: -42px;
}

.content-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.icon-user {
  width: 24px;
  height: 24px;
}

.arrow-user {
  width: 30px;
  height: 30px;
}

.listed-menu {
  display: none;
}

.responsive-menu {
  display: none;
}

.close-menu {
  display: none;
}

@media screen and (min-width: 601px) {
  .listed-menu {
    display: none !important;
  }
  .responsive-menu {
    display: none !important;
  }
  .close-menu {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }
  #menu {
    display: none;
  }
  #image-logo img {
    width: 187px;
    height: 44px;
  }
  nav img {
    width: 45px;
    height: 40px;
    display: block;
  }
  .responsive-menu {
    display: flex;
    width: 95%;
    position: absolute;
    height: 240px;
    background-color: #385566;
    left: 10px;
    top: 17.5%;
    z-index: 5;
    border-radius: 16px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
    display: none;
  }
  .list-menu {
    width: 100%;
    list-style: none;
    color: #fff;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-item span {
    align-self: flex-start;
  }
  .nav-item h4 {
    display: flex;
    align-items: center;
  }
  .listed-menu {
    display: block;
  }
  .list-btn {
    display: flex;
    justify-content: center;
  }
  #btnDonate {
    font-size: 20px;
    height: 38px;
    width: 227px;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  }
  .selected-response {
    background-color: #233d4d;
    border-radius: 12px;
  }
  .selected::after {
    display: none;
  }
  .content-user-response {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 7px;
  }
  .icon-user-response {
    width: 20px;
    height: 20px;
  }
}
footer {
  width: 100%;
  height: 168px;
  padding: 50px;
  background-color: #122633;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-footer {
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin: 10px;
}

.footer-content {
  width: 200px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.social-media {
  display: flex;
  margin-top: 12px;
  height: 45px;
}

.logo3 {
  width: 64px;
  height: 78px;
}

.Insta-logo, .Twitter-logo, .Whats-logo {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width: 600px) {
  .title-footer {
    font-size: 11px;
  }
}
#animal-cards {
  width: 100%;
  height: 20%;
  padding: 30px;
}

#text-card {
  width: 100%;
  padding: 0 0 75px 0;
}

#text-card h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

#div-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.card {
  border-radius: 16px;
  width: 320px;
  height: 380px;
  background-color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.animal-name {
  width: 100%;
  padding: 9px 0 9px 9px;
  background-color: #fcca46;
  border-radius: 10px;
  color: #233d4d;
}

.animal-name h3 {
  font-weight: bold;
}

.animal-content {
  height: 10%;
  display: flex;
  padding: 20px 16px 16px 0;
  justify-content: space-between;
}

.date {
  padding: 16px;
  text-align: center;
  color: #4f4f4f;
}

@media only screen and (max-width: 600px) {
  #div-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  #text-card h1 {
    font-size: 30px;
  }
}
#whyToAdopt-section {
  width: 100%;
  padding: 30px;
}

#whyToAdopt-content {
  display: flex;
  width: 100%;
  background-color: #122633;
  border-radius: 25px;
  padding: 40px 30px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#whyToAdopt-content aside, #whyToAdopt-content article {
  width: 50%;
}

#whyToAdopt-content aside {
  border-radius: 25px;
  background: url(../assets/woman.jpg) no-repeat center;
  background-size: cover;
  height: 80vh;
}

#whyToAdopt-content article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#whyToAdopt-content article h1 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

#whyToAdopt-content article p {
  font-size: 25px;
  font-weight: 900;
  color: #629c8b;
  text-align: initial;
  width: 90%;
}

.p-color {
  color: #e56512;
}

@media only screen and (max-width: 600px) {
  #whyToAdopt-section {
    width: 100%;
    padding: 0;
  }
  #whyToAdopt-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    padding: 40px 20px;
    gap: 20px;
  }
  #whyToAdopt-content aside, #whyToAdopt-content article {
    width: 100%;
  }
  #whyToAdopt-content aside {
    border-radius: 25px;
    height: 60vh;
  }
}
#bgHome {
  width: 100%;
  height: 80vh;
  padding: 30px;
}

#bgHome #bg-content {
  background: url(../assets/dog-bg.jpg) no-repeat bottom center;
  background-size: cover;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  padding: 100px;
  color: #fff;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#bg-content h1 {
  color: #fcca46;
  display: inline-block;
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 1.8em;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.2);
}

#bg-content p {
  display: inline-block;
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-size: 1.7em;
  font-weight: 900;
}

@media only screen and (max-width: 850px) {
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    width: 65%;
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 600px) {
  #bgHome {
    height: 80vh;
    padding: 20px 0;
  }
  #bgHome #bg-content {
    border-radius: 0;
    padding: 50px 40px;
  }
  #bg-content h1 {
    font-size: 1.7em;
  }
  #bg-content p {
    display: inline-block;
    width: 60%;
    font-size: 1.4em;
  }
}
.loginCard {
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

#divCardLogin {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#enter {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#divCardLogin input {
  font-size: 16px;
  padding: 10px;
  width: 350px;
  height: 42px;
  border-radius: 8px;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

label {
  font-size: 18px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#btnEnter {
  margin-top: 20px;
  color: #fff;
  background-color: #fcca46;
  width: 350px;
  height: 44px;
  border: none;
  border-radius: 16px;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#register {
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  margin-left: 8px;
}

#register a {
  color: #458270;
}

@media screen and (max-width: 600px) {
  .divCardLogin {
    width: 100%;
  }
}
#wannaDonation-section {
  padding: 2% 10%;
}

#all-inputs-wannaDonation {
  width: 100%;
}

#title-wannaDonation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title-wannaDonation h1 {
  color: #fff;
  font-size: 37px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#upload-image {
  width: 120px;
  height: 120px;
  background-color: white;
  padding: 5px;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#fileImgLabel {
  color: #4f4f4f;
}

.inputs-wannaDonation,
#radio-wannaDonation {
  width: 40%;
}

#radio-wannaDonation {
  display: flex;
  gap: 50px;
}

#radio-wannaDonation label {
  color: #fff;
  font-size: 24px;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#radio-wannaDonation input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 10px 0;
  background: #fff;
  position: relative;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#radio-wannaDonation input::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #e56512;
  opacity: 0;
}

#radio-wannaDonation input:checked::before {
  opacity: 1;
}

.inputs-wannaDonation input,
.inputs-wannaDonation select,
#textare-wannaDonation textarea {
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
}

#textare-wannaDonation textarea {
  resize: none;
  height: 130px;
}

.content-wannaDonation {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#title-wannaDonation,
#textare-wannaDonation,
#button-wannaDonation {
  padding: 20px;
  display: flex;
}

#button-wannaDonation {
  display: flex;
  justify-content: center;
}

#button-wannaDonation button {
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 16px;
  color: #fff;
  font-weight: 800;
  background: #fcca46;
}

#button-wannaDonation button:hover {
  cursor: pointer;
  background-color: #e3b029;
}

input[type=file] {
  display: none;
}

.inputs-wannaDonation #fileImgLabel {
  display: block;
  width: 100%;
  padding: 2%;
  font-size: 18px;
  border-radius: 9px;
  outline: none;
  border: none;
  box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.inputs-wannaDonation #fileImgLabel:hover,
.inputs-wannaDonation select:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) {
  #wannaDonation-section {
    padding: 0;
    height: auto;
  }
  #title-wannaDonation,
  .content-wannaDonation {
    flex-direction: column;
    gap: 40px;
  }
  .inputs-wannaDonation,
  #radio-wannaDonation {
    width: 100%;
  }
  .content-wannaDonation {
    padding: 20px 20px;
  }
  #radio-wannaDonation {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  #radio-wannaDonation label {
    font-size: 22px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #619b8a;
}/*# sourceMappingURL=style.css.map */